<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.nagazakisoftware.quick" xmlns:tools="http://schemas.android.com/tools">
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" tools:replace="android:maxSdkVersion"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" tools:replace="android:maxSdkVersion"/>
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
  <application
    android:label="Quicky"
    tools:replace="android:label"
    android:icon="@mipmap/ic_launcher"
    android:requestLegacyExternalStorage="true"
  >
    <!-- Habilita Google Pay na Drop-in (opcional, mas recomendado se usar GPay) -->
    <meta-data android:name="com.google.android.gms.wallet.api.enabled" android:value="true"/>
    <!-- Requer também configuração no painel do Braintree -->
    <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTop" android:theme="@style/LaunchTheme" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode" android:hardwareAccelerated="true" android:windowSoftInputMode="adjustResize">
      <meta-data android:name="io.flutter.embedding.android.NormalTheme" android:resource="@style/NormalTheme"/>
      <meta-data android:name="io.flutter.embedding.android.SplashScreenDrawable" android:resource="@drawable/launch_background"/>
      <!-- Launcher -->
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <!-- Seu deep link atual -->
      <meta-data android:name="flutter_deeplinking_enabled" android:value="true"/>
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="quicky" android:host="quicky.com"/>
      </intent-filter>
      <!-- 🔑 Braintree (Browser Switch / PayPal/Venmo) -->
      <!-- IMPORTANTE: o scheme DEVE ser tudo minúsculo e seguir: <applicationId>.braintree -->
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="com.nagazakisoftware.quick.braintree"/>
      </intent-filter>
    </activity>
    <meta-data android:name="flutterEmbedding" android:value="2"/>
  </application>
</manifest>